.forecast {
  margin-top: 30px;
}

.title {
  font-size: 23px;
  font-weight: 700;
  color: #333;
  margin-bottom: 15px;
}

.daily_item {
  position: relative;
  background-color: #f5f5f5;
  border-radius: 10px;
  height: 60px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  padding: 0 15px;
  transition: background-color 0.3s ease;
}

.daily_item:hover {
  background-color: #e0e0e0;
}

.icon-small {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.day {
  color: #333;
  flex: 1 1;
}

.description {
  flex: 1 1;
  text-align: right;
  margin-right: 15px;
  color: #777;
}

.min_max {
  color: #757575;
}

.daily_details {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.daily_details_item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.daily_details_item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #eaeaea;
}

.daily_details_item .label {
  flex: 1 1;
}

.daily_details_item .value {
  text-align: right;
}

label {
  display: inline-block;
  margin-right: 10px;
}

.bold-item {
  font-weight: bolder;
}